@model IEnumerable<Bank.Models.ShowBankAccount>
@{
    ViewBag.Title = "Index";
}

<table style="width: 100%">
    <tr>
        <th>Име на сметката</th>
        <th>IBAN</th>
        <th>Баланс</th>
    </tr>

    @{
        foreach (var item in Model)
        {

            <tr>
                <td>@Html.DisplayFor(modelItem => item.FriendlyName) </td>
                <td>@Html.DisplayFor(modelItem => item.Key)</td>
                <td>@Html.DisplayFor(modelItem => item.Balance) </td>
            </tr>

        }
    }
</table>

<div>
    <a href="@Url.Action("CreateBankAccount", "BankAccount")">Създай нова банкова сметка</a> 
     
    <a href="@Url.Action("Options","BankAccount")">Опции</a>
</div>


    
